body {
  font-family: Arial, Helvetica, sans-serif; }

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url("../fonts/proximanova-reg-webfont.eot");
  src: url("../fonts/proximanova-reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-reg-webfont.woff2") format("woff2"), url("../fonts/proximanova-reg-webfont.woff") format("woff"), url("../fonts/proximanova-reg-webfont.ttf") format("truetype"), url("../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_novasemibold';
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_novabold';
  src: url("../fonts/proximanova-bold-webfont.eot");
  src: url("../fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../fonts/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova-bold-webfont.svg#proxima_novabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff2") format("woff2"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#proxima_nova_ltlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }

body #wrapper .container-login {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFFFFF;
  max-width: 350px;
  margin: 51px 0 20px;
  width: 100%; }
  body #wrapper .container-login .extra-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 23px 30px 3px; }
    body #wrapper .container-login .extra-center .label-form {
      margin: 0 0 5px; }
  body #wrapper .container-login .extra-top,
  body #wrapper .container-login .extra-bottom {
    border: 1px solid #E6EAEE;
    background-color: #F8FAFC;
    text-align: center;
    -webkit-box-shadow: 0 1px 0 0 #E7E9ED;
    -moz-box-shadow: 0 1px 0 0 #E7E9ED;
    box-shadow: 0 1px 0 0 #E7E9ED; }
  body #wrapper .container-login .extra-top {
    padding: 29px 20px 9px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    position: relative;
    border-bottom: none; }
    body #wrapper .container-login .extra-top .title {
      font-size: 24px;
      line-height: 29px;
      display: block;
      font-weight: normal;
      margin: 0 0 10px; }
  body #wrapper .container-login .btn {
    display: block;
    width: 100%; }
  body #wrapper .container-login .extra-bottom {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    padding: 15px 20px 3px; }
  body #wrapper .container-login .help-link {
    color: #7F8FA4;
    display: inline-block;
    vertical-align: top;
    margin: 0 30px 10px;
    text-decoration: none; }
    body #wrapper .container-login .help-link .arrow {
      position: relative;
      width: 6px;
      display: inline-block;
      vertical-align: top;
      margin: 5px 2px 0 0; }
      body #wrapper .container-login .help-link .arrow:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 6px;
        height: 6px;
        border-left: 1px solid #7F8FA4;
        border-top: 1px solid #7F8FA4;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        -ms-transform: rotate(315deg);
        -o-transform: rotate(315deg);
        transform: rotate(315deg);
        -webkit-transition: border-color 0.2s ease-in-out, left 0.2s ease-in-out;
        -moz-transition: border-color 0.2s ease-in-out, left 0.2s ease-in-out;
        -o-transition: border-color 0.2s ease-in-out, left 0.2s ease-in-out;
        transition: border-color 0.2s ease-in-out, left 0.2s ease-in-out; }
    body #wrapper .container-login .help-link:hover {
      text-decoration: none;
      color: #354052; }
      body #wrapper .container-login .help-link:hover .arrow:before {
        left: -6px;
        border-left-color: #354052;
        border-top-color: #354052; }
  body #wrapper .container-login .hold-btn {
    padding: 9px 0 0;
    margin: 0; }
  body #wrapper .container-login input[type="text"],
  body #wrapper .container-login input[type="email"],
  body #wrapper .container-login input[type="password"],
  body #wrapper .container-login textarea {
    background-color: #F8FAFC;
    color: #354052;
    margin: 0 0 11px; }
  body #wrapper .container-login .logo {
    position: absolute;
    top: -51px;
    left: 50%;
    overflow: hidden;
    text-indent: -9999px;
    width: 70px;
    height: 70px;
    margin: 0 0 10px -35px; }
    body #wrapper .container-login .logo a {
      width: 100%;
      height: 100%;
      display: block;
      background: url(../images/logo-blue.png) 0 0 no-repeat;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; }

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%; }

button:hover {
  opacity: 0.8; }

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336; }

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative; }

img.avatar {
  width: 40%;
  border-radius: 50%; }

.container {
  padding: 16px; }

span.psw {
  float: right;
  padding-top: 16px; }

/* The Modal (background) */
.auth-form {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px; }

/* Modal Content/Box */
.auth-form-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%;
  /* Could be more or less, depending on screen size */ }

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: red;
  cursor: pointer; }

/* Add Zoom Animation */
@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes animatezoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none; }
  .cancelbtn {
    width: 100%; } }

#button-red {
  background: red; }
