@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url("../fonts/proximanova-reg-webfont.eot");
  src: url("../fonts/proximanova-reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-reg-webfont.woff2") format("woff2"), url("../fonts/proximanova-reg-webfont.woff") format("woff"), url("../fonts/proximanova-reg-webfont.ttf") format("truetype"), url("../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_novasemibold';
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_novabold';
  src: url("../fonts/proximanova-bold-webfont.eot");
  src: url("../fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../fonts/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova-bold-webfont.svg#proxima_novabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff2") format("woff2"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#proxima_nova_ltlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Typography */
/*colors text*/
/*background*/
/* border-color */
.nul {
  padding: 0;
  margin: 0;
  list-style: none; }

#main {
  padding: 30px 30px 30px 130px; }
  #main table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    background: #fff;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0;
    border-radius: 0 0 4px 4px;
    font-size: 14px;
    line-height: 17px;
    font-family: "proxima_novasemibold", arial, helvetica, sans-serif; }
    #main table th {
      border-top: 1px solid #E6EAEE;
      background-color: #eff3f6;
      padding: 8px 10px;
      text-align: left;
      color: #7F8FA4;
      font-weight: normal; }
    #main table th:first-child {
      padding-left: 19px; }
    #main table .cell-center {
      text-align: center; }
    #main table .badge-letter.letter-green {
      background: url(../images/pickup.svg) 0 0 no-repeat; }
    #main table td {
      padding: 5px 10px 4px;
      border-top: 1px solid #E6EAEE;
      height: 46px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      #main table td .list-actions {
        padding: 0;
        margin: 0;
        list-style: none;
        white-space: nowrap;
        font-size: 14px;
        line-height: 17px; }
        #main table td .list-actions .sprites {
          vertical-align: top;
          margin: 0;
          text-indent: -9999px;
          overflow: hidden;
          width: 16px;
          height: 16px;
          -webkit-transition: opacity 0.2s ease-in-out;
          -moz-transition: opacity 0.2s ease-in-out;
          -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
          background-position: 0 0;
          background-repeat: no-repeat; }
          #main table td .list-actions .sprites.sprites-play {
            width: 25px;
            height: 25px;
            background-image: url(../images/play-button.svg); }
        #main table td .list-actions li img {
          cursor: pointer; }
        #main table td .list-actions li img:hover {
          background-image: url(../images/play-button.svg); }

@keyframes spin {
  100% { } }
    #main table td:first-child {
      padding-left: 19px; }
    #main table .text-gray {
      display: block;
      font: 12px/15px "proxima_nova_rgregular", arial, helvetica, sans-serif;
      color: #7F8FA4;
      padding: 4px 0 0; }
  #main .aside-btn {
    padding: 12px;
    float: right;
    margin: 0 0 -1px; }
    #main .aside-btn .btn {
      margin: auto;
      float: left;
      min-width: 120px; }
  #main .btn {
    min-width: 72px;
    height: 36px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #249533;
    margin: 0 0 16px;
    padding: 0 13px;
    font: 14px/36px "proxima_novabold", arial, helvetica, sans-serif;
    color: #fff;
    cursor: pointer;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;
    background: -owg-linear-gradient(180deg, #39B54A 0%, #34AA44 100%);
    background: -webkit-linear-gradient(180deg, #39B54A 0%, #34AA44 100%);
    background: -moz-linear-gradient(180deg, #39B54A 0%, #34AA44 100%);
    background: -o-linear-gradient(180deg, #39B54A 0%, #34AA44 100%);
    background: linear-gradient(180deg, #39B54A 0%, #34AA44 100%); }
    #main .btn .sprites {
      margin: 10px 7px 8px 2px;
      -webkit-transition: opacity 0.2s ease-in-out;
      -moz-transition: opacity 0.2s ease-in-out;
      -o-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      opacity: 0.5; }
      #main .btn .sprites.sprites-plus {
        margin: 12px 9px 10px 5px; }
      #main .btn .sprites.sprites-pdf, #main .btn .sprites.sprites-direction {
        margin-top: 9px; }
    #main .btn:hover {
      background: -owg-linear-gradient(0deg, #1E930B 0%, #1E9D09 100%);
      background: -webkit-linear-gradient(0deg, #1E930B 0%, #1E9D09 100%);
      background: -moz-linear-gradient(0deg, #1E930B 0%, #1E9D09 100%);
      background: -o-linear-gradient(0deg, #1E930B 0%, #1E9D09 100%);
      background: linear-gradient(0deg, #1E930B 0%, #1E9D09 100%);
      border-color: #1E9D09;
      text-decoration: none; }
      #main .btn:hover .sprites {
        opacity: 1; }
    #main .btn.btn-blue {
      border-color: #1585D8;
      background: -owg-linear-gradient(0deg, #1991EB 0%, #2DA1F8 100%);
      background: -webkit-linear-gradient(0deg, #1991EB 0%, #2DA1F8 100%);
      background: -moz-linear-gradient(0deg, #1991EB 0%, #2DA1F8 100%);
      background: -o-linear-gradient(0deg, #1991EB 0%, #2DA1F8 100%);
      background: linear-gradient(0deg, #1991EB 0%, #2DA1F8 100%); }
      #main .btn.btn-blue:hover {
        background: -owg-linear-gradient(180deg, #1584D7 0%, #2184CF 100%);
        background: -webkit-linear-gradient(180deg, #1584D7 0%, #2184CF 100%);
        background: -moz-linear-gradient(180deg, #1584D7 0%, #2184CF 100%);
        background: -o-linear-gradient(180deg, #1584D7 0%, #2184CF 100%);
        background: linear-gradient(180deg, #1584D7 0%, #2184CF 100%); }
    #main .btn.btn-red {
      border-color: #ED1C24;
      background: -owg-linear-gradient(180deg, #F85359 0%, #DC151D 100%);
      background: -webkit-linear-gradient(180deg, #F85359 0%, #DC151D 100%);
      background: -moz-linear-gradient(180deg, #F85359 0%, #DC151D 100%);
      background: -o-linear-gradient(180deg, #F85359 0%, #DC151D 100%);
      background: linear-gradient(180deg, #F85359 0%, #DC151D 100%); }
      #main .btn.btn-red:hover {
        background: -owg-linear-gradient(180deg, #DF2229 0%, #DC151D 100%);
        background: -webkit-linear-gradient(180deg, #DF2229 0%, #DC151D 100%);
        background: -moz-linear-gradient(180deg, #DF2229 0%, #DC151D 100%);
        background: -o-linear-gradient(180deg, #DF2229 0%, #DC151D 100%);
        background: linear-gradient(180deg, #DF2229 0%, #DC151D 100%); }
    #main .btn.btn-gray {
      border-color: #CED0DA;
      background: -owg-linear-gradient(180deg, #FFFFFF 0%, #F2F4F7 100%);
      background: -webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F4F7 100%);
      background: -moz-linear-gradient(180deg, #FFFFFF 0%, #F2F4F7 100%);
      background: -o-linear-gradient(180deg, #FFFFFF 0%, #F2F4F7 100%);
      background: linear-gradient(180deg, #FFFFFF 0%, #F2F4F7 100%);
      color: #7383A1; }
      #main .btn.btn-gray:hover {
        border-color: #7F8FA4;
        background: -owg-linear-gradient(180deg, #FFFFFF 0%, #FCFCFC 100%);
        background: -webkit-linear-gradient(180deg, #FFFFFF 0%, #FCFCFC 100%);
        background: -moz-linear-gradient(180deg, #FFFFFF 0%, #FCFCFC 100%);
        background: -o-linear-gradient(180deg, #FFFFFF 0%, #FCFCFC 100%);
        background: linear-gradient(180deg, #FFFFFF 0%, #FCFCFC 100%); }
    #main .btn.btn-small {
      width: 36px;
      min-width: 36px;
      padding: 0 2px;
      text-align: center; }
      #main .btn.btn-small .sprites {
        margin-left: 0;
        margin-right: 0; }
    #main .btn:disabled, #main .btn:disabled:hover, #main .btn.btn-blue:disabled, #main .btn.btn-blue:disabled:hover, #main .btn.btn-red:disabled, #main .btn.btn-red:disabled:hover, #main .btn.btn-gray:disabled, #main .btn.btn-gray:disabled:hover {
      cursor: default;
      border-color: #E6EAEE;
      background: #F2F4F7;
      color: rgba(53, 64, 82, 0.5); }
