
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="" rel="stylesheet" />
    <link href="" rel="stylesheet" />
    <link rel="icon" href="~/icon/favicon3.ico" type="image/x-icon">

</head>
<body>
<div id="wrapper">1</div>

</body>
</html>