@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/auth.css" rel="stylesheet" />
    <link rel="icon" href="~/icon/favicon3.ico" type="image/x-icon">

</head>
<body>
   <div id="wrapper"></div>
<script src="~/js/bundle.js"></script>
</body>
</html>

